In [1]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('../dirty_cafe_sales.csv')

# EDA (Exploratory data analysis)

### 1. Info

In [12]:
df.sample(10)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
1624,TXN_6708156,Tea,5,1.5,7.5,Credit Card,NaN,2023-11-26
5015,TXN_2053631,Salad,1,5.0,5.0,Credit Card,NaN,2023-03-21
7337,TXN_4467046,Salad,4,5.0,20.0,Digital Wallet,Takeaway,2023-09-27
7180,TXN_9529846,Smoothie,5,4.0,20.0,NaN,NaN,2023-09-23
5399,TXN_2527007,Smoothie,1,4.0,4.0,Digital Wallet,NaN,2023-10-22
2529,TXN_6660755,Cookie,2,1.0,2.0,Credit Card,In-store,2023-05-16
4693,TXN_5860664,Juice,5,3.0,15.0,Digital Wallet,NaN,2023-06-06
6854,TXN_1721342,Smoothie,5,4.0,20.0,Digital Wallet,In-store,2023-08-23
9210,TXN_1452931,Tea,1,1.5,1.5,Digital Wallet,NaN,2023-07-08
8877,TXN_1983842,Cake,5,3.0,15.0,Digital Wallet,ERROR,2023-03-16

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

In [6]:
df.describe()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
count,10000,9667,9862,9821,9827,7421,6735,9841
unique,10000,10,7,8,19,5,4,367
top,TXN_1961373,Juice,5,3.0,6.0,Digital Wallet,Takeaway,UNKNOWN
freq,1,1171,2013,2429,979,2291,3022,159

### 2. Missing values

In [8]:
df.isnull().sum()

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64